@model DeKrekelGroup5.ViewModel.MainViewModel

<div id="content">
    <h4 id="subtitel">
        Details student
        <div class="floatRight">
            <a href=' @Url.Action("edit", new { id = Model.UitlenerViewModel.Id}) '><img src="~/Images/edit.png" /></a>

            <a href=' @Url.Action("index") '><img src="~/Images/Return.png" /></a>
        </div>
    </h4>
    <hr />
    <div id="wrapDetails">
        <div id="mainCol">
            <table id="details">
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Id)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Id)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Naam)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Naam)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.VoorNaam)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.VoorNaam)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Klas)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Klas)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Adres)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Adres)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Email)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Email)</td>
                </tr>
            </table>
        </div>
    </div>
</div>
