
@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel
@Html.HiddenFor(modelItem => modelItem.ItemViewModel.Exemplaar)


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().VoorNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Klas)
        </th>
        <th></th>
    </tr>

    @foreach (var uitlener in Model.UitlenersLijstViewModel.Uitleners)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => uitlener.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.VoorNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.Klas)
            </td>
            <td>
                @Ajax.ImageActionLink("/Images/tick.png", "SelectUitlener", "SelectUitlener", "Uitleningen", new { exemplaar = Model.ItemViewModel.Exemplaar, gebruikerId = uitlener.Id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "infomodal" }, new { @class = "icon" })
            </td>
        </tr>
    }

</table>


