@using Microsoft.Ajax.Utilities
@model DeKrekelGroup5.ViewModel.MainViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Lettertuin</title>
    @Styles.Render("~/Content/masterLayout.css")
    @Styles.Render("~/Content/reveal.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div id="wrapper">
    <div id="header">
        <header id="krekel">
            <a id="krekelImg" href="http://www.vbsdekrekel.be/"><img src="~/Images/krekel.png" alt="krekelSchool"></a>
            <h1 id="krekelLink">
                <a id="LinkToSite" href="http://www.vbsdekrekel.be/">Vrije basisschool de Krekel</a>
            </h1>
        </header>
        <nav id="navBar">
            <div>
                <a href='@Url.Action("index", "home")'><img src="~/Images/home.png"/></a>
                @if (Model.GebruikerViewModel != null)
                {
                    if (!Model.GebruikerViewModel.IsBeheerder || !Model.GebruikerViewModel.IsBibliothecaris)
                    {
                        <a href='#' id="loginBib"><img src="~/Images/guest.png" /></a>
                    }
                    if (!Model.GebruikerViewModel.IsBeheerder || !Model.GebruikerViewModel.IsBibliothecaris)
                    {
                        <a href='#' id="loginBeh"><img src="~/Images/admin.png" /></a>
                    }
                    if (Model.GebruikerViewModel.IsBeheerder || Model.GebruikerViewModel.IsBibliothecaris)
                    {
                        <a href='#' id="logout"><img src="~/Images/logout.png" /></a>
                    }
                }
                
    
            </div>
        </nav>
    </div>

    <div class="container body-content">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @if (Model.InfoViewModel != null) { 
        <div id="modal" class="hidden">
            @Html.Partial("_info", Model)
        </div>
        }
        else
        {
            <div id="modal">
                @Html.Partial("_info", Model)
            </div>
        }
        
        <footer><hr/>
            <p>&copy; @DateTime.Now.Year - MediaTheek - De Krekel by Group5</p>
        </footer>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/reveal")
    @RenderSection("scripts", required: false)

    
</body>
</html>
