@model DeKrekelGroup5.ViewModel.MainViewModel
<div class="loginbox">
    <div class="message-error">@TempData["error"]</div>
    @Html.HiddenFor(model => model.GebruikerViewModel.Username, new { htmlAttributes = new { @class = "hidden" } })

    Paswoord:
    @Html.PasswordFor(model => model.GebruikerViewModel.Paswoord, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.GebruikerViewModel.Paswoord, "", new { @class = "text-danger" })
</div>

<div class="bottom">
    @if (@Model.GebruikerViewModel.Username == "Beheerder")
    {
        <button type="submit" class="button green close"><img src="~/Images/tick.png">Inloggen!</button>
    }
    @if (@Model.GebruikerViewModel.Username == "Bibliothecaris")
    {
        <button type="submit" class="button green close"><img src="~/Images/tick.png">Inloggen!</button>
    }
    <a href="#" class="button red close" id="closeFrame"><img src="~/Images/cross.png">Terug!</a>
</div>
<script>
    $(document).ready(function() {

        $("#closeFrame").click(function(e) { // Button which will activate our modal
            $("#modal").hide(600);
            $(".reveal-modal-bg").remove();
        });
    });
</script>