
@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel

<table class="table">
    <tr>
        <th class="Cover">
            @Html.DisplayNameFor(model => model.BoekenLijstViewModel.Boeken.FirstOrDefault().Exemplaar)
        </th>
        <th class="ItemInfo">
            @Html.DisplayNameFor(model => model.BoekenLijstViewModel.Boeken.FirstOrDefault().Titel)
        </th>
       
        <th class="ItemOpties"></th>
    </tr>

    @foreach (var item in Model.BoekenLijstViewModel.Boeken)
    {
        <tr>
            
            <td class="Cover">
                @*@Html.DisplayFor(modelItem => item.Afbeelding)*@
                <img src="~/Images/default.jpg" alt="Cover"/>
            </td>
            <td class="ItemInfo">
                <div>
                    <div class="ItemBeschikbaarheid">
                        @if (item.Beschikbaar)
                        {
                            if (item.Uitgeleend)
                            {  <p>Beschikbaar vanaf @Html.DisplayFor(modelItem => item.EindDatumUitlening)</p>
                                if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                                {
                                    @Ajax.ImageActionLink("/Images/extraTijd.png", "Verlengen", "Verlengen", "Uitleningen", new { exemplaar = item.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal" }, new { @class = "icon" })
                                }
                            }
                            else
                            {
                                <img src="~/Images/tick.png" class="icon" />
                            }
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="icon" />
                        }
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.Auteur)</p>
                    <p>@Html.DisplayFor(modelItem => item.Leeftijd)</p>
                    <p>@Html.DisplayFor(modelItem => item.Uitgever)</p>
                    <p>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
                    <p>@Html.DisplayFor(modelItem => item.Thema)</p>
                </div>

            </td>
            <td class="ItemOpties">
                <div class="ItemBewerken">
                    @*in vertelTas?*@
                    @if (Model.GebruikerViewModel.IsBeheerder)
                    { 
                        //steek het in een verteltas
                        
                    }
                    @*edit en delete*@
                    @if (Model.GebruikerViewModel.IsBeheerder)
                    {
                        <a href=' @Url.Action("edit", new { id = item.Exemplaar }) '><img src="~/Images/edit.png" class="icon" /></a>
                        <a href=' @Url.Action("delete", new { id = item.Exemplaar }) '><img src="~/Images/delete.png" class="icon" /></a>
                    }

                </div>
                @*naar uitleenPagina*@
                @if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                {
                    if (item.Uitgeleend)
                    {
                        @Ajax.ImageActionLink("/Images/binnen.png", "EindeUitlening", "EindeUitlening", "Uitleningen", new { exemplaar = item.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal" }, new { @class = "icon" })

                    }
                    else
                    {
                        if (item.Beschikbaar)
                        {
                            <a href=' @Url.Action("Create", "Uitleningen", new { id = item.Exemplaar }) '><img src="~/Images/buiten.png" class="icon" /></a>
                        }
                    }
                }
            </td>

        </tr>
    }

</table>


