
@model DeKrekelGroup5.ViewModel.BoekenLijstViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Exemplaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Auteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Uitgever)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Leeftijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boeken.FirstOrDefault().Thema)
        </th>
        <th>
            Beschikbaar
        </th>
        <th>Uitlenen/Binnenbrengen</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Boeken)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exemplaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uitgever)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leeftijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thema)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Beschikbaar)*@
            </td>
            <td>
                @*@Html.ActionLink("Uitlenen/binnenbrengen","uitlenen","","uitleen")*@
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Exemplaar })*@
                <a href=' @Url.Action("edit",new { id = item.Exemplaar }) '><img src="~/Images/edit.png" /></a> |
                @*@Html.ActionLink("Details", "Details", new { id = item.Exemplaar })*@
                <a href=' @Url.Action("details",new { id = item.Exemplaar }) '><img src="~/Images/details.png" /></a> |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Exemplaar })*@
                <a href=' @Url.Action("delete",new { id = item.Exemplaar }) '><img src="~/Images/delete.png" /></a>
            </td>
        </tr>
    }

</table>


