@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel
 <div id="content">
    <h4 id="subtitel">Boek aanmaken</h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            <img src="~/Images/krekel.png" alt="krekelSchool">
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            
            <div id="mainCol">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table id="details">
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Auteur)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Auteur, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Auteur, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Uitgever)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Uitgever, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Uitgever, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Leeftijd)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Leeftijd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Leeftijd, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Titel)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Titel, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Omschrijving)</td>
                        <td class="textArea">
                            @Html.TextAreaFor(model => model.BoekCreateViewModel.Boek.Omschrijving, new { rows = "10", columns = "300" })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Omschrijving, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.LabelFor(model => model.BoekCreateViewModel.Boek.Thema, htmlAttributes: new { @class = "editLabel" })</td>
                        <td>
                            @Html.DropDownListFor(model => model.BoekCreateViewModel.Boek.Thema, Model.BoekCreateViewModel.Themas, " --Selecteer een Thema--")
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Thema)
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Uitgeleend)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Uitgeleend, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Uitgeleend, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.BoekCreateViewModel.Boek.Beschikbaar)</td>
                        <td>
                            @Html.EditorFor(model => model.BoekCreateViewModel.Boek.Beschikbaar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BoekCreateViewModel.Boek.Beschikbaar, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
                <p>
                    <a href='@Url.Action("index")' class="floatRight"><img src="~/Images/Return.png"/></a>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>
                    </div>
                </p>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
