@model DeKrekelGroup5.Models.Domain.Boek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uitgever)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uitgever)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leeftijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leeftijd)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Themaa.Themaa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Themaa.Themaa)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Beschikbaar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Beschikbaar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cover)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cover)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Uitgeleend)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uitgeleend)
            </dd>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Exemplaar }) |
    @Html.ActionLink("Back to List", "Index")
</p>
