@model DeKrekelGroup5.ViewModel.BoekCreateViewModel


<div id="content">
    <h4 id="subtitel">Details Boek</h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            <img src="~/Images/krekel.png" alt="krekelSchool">
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="mainCol">
                <table id="details">
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Exemplaar)</td>
                        <td class="td2">@Html.DisplayFor(model => model.Boek.Exemplaar)</td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Auteur)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Auteur, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Boek.Auteur, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Uitgever)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Uitgever, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Boek.Uitgever, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Leeftijd)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Leeftijd, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Boek.Leeftijd, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Titel)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Titel, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Boek.Titel, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Omschrijving)</td>
                        <td class="textArea">
                            @Html.TextAreaFor(model => model.Boek.Omschrijving, new { rows="10", columns="300" })
                            @Html.ValidationMessageFor(model => model.Boek.Omschrijving, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Thema)</td>
                        <td>
                            @Html.DropDownListFor(model => model.Boek.Thema, Model.Themas, " --Selecteer een Thema--")
                            @Html.ValidationMessageFor(model => model.Boek.Thema)
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Uitgeleend)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Uitgeleend, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Boek.Uitgeleend, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.Boek.Beschikbaar)</td>
                        <td>
                            @Html.EditorFor(model => model.Boek.Beschikbaar, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Boek.Beschikbaar, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                </table>
                <p >
                    <a href='@Url.Action("index")' class="floatRight"><img src="~/Images/Return.png" /></a>
                    <div class="form-group" >
                        <div class="col-md-offset-2 col-md-10" >
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </p>
            </div>
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div></div>