@using DeKrekelGroup5.Models.Domain
@model DeKrekelGroup5.ViewModel.MainViewModel
 
<div id="content">
    <h4 id="subtitel">Details Spel
        <div class="floatRight">

            @if (Model.GebruikerViewModel.IsBeheerder)
            {
                <a href=' @Url.Action("edit", new {id = Model.SpelViewModel.Exemplaar}) '><img src="~/Images/edit.png"/></a>
            }
            <a href=' @Url.Action("index") '><img src="~/Images/Return.png"/></a>
        </div>
        </h4>
    <hr/>
    <div id="wrapDetails">
        <div id="leftCol">
            @if (Model.SpelViewModel == null || string.IsNullOrEmpty(Model.SpelViewModel.image))
            {
                <img src="~/Images/krekelFoto.png" alt="krekelSchool" id="picItem" />
            }
            else
            {
                <img src="@Url.Content("/FTP/Images/" + Model.SpelViewModel.image)" alt="Model.SpelViewModel.image" style="max-width: 70%" />
            }
        </div>

        <div id="mainCol">
            <table id="details">
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Exemplaar)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.SpelViewModel.Exemplaar)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Titel)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.SpelViewModel.Titel)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Uitgever)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.SpelViewModel.Uitgever)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Leeftijd)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.SpelViewModel.Leeftijd)</td>
                </tr>
                <tr>
                    <td class="td1">Themas</td>
                    <td class="td2 gray">@{ int counter = 0; }
                    @foreach (var thema in Model.SpelViewModel.Themas)
                    {
                        counter++;
                        <span>@thema.Themaa</span> @(counter < Model.SpelViewModel.Themas.Count ? "|" : "")
                    }</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Omschrijving)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.SpelViewModel.Omschrijving)</td>
                </tr>

                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Uitgeleend)</td>
                    
                        @if (@Model.SpelViewModel.Uitgeleend)
                        {
                            <td class="td2 gray">
                                @Model.SpelViewModel.EindDatumUitlening.ToLongDateString()
                            </td>
                        }
                        else
                        {
                                <td><img src="~/Images/cross.png" class="bigIcon" /> </td>
                            
                            }
                       
                </tr>
                @if(Model.GebruikerViewModel.IsBeheerder)
                {
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelViewModel.Beschikbaar)</td>
                    <td>
                        @if (@Model.SpelViewModel.Beschikbaar)
                        {
                            <img src="~/Images/tick.png" class="bigIcon"/>
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="bigIcon"/>
                        }
                    </td>
                </tr>
                    }
            </table>

            
        </div>
        
    </div>
    
</div>

