@model DeKrekelGroup5.ViewModel.MainViewModel


<div id="content">
    <h4 id="subtitel">Aanpassen spel</h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            <img src="~/Images/default.jpg" alt="krekelSchool">
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="mainCol">
                <table id="details">
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Exemplaar)</td>
                        <td class="td2">
                            @Html.DisplayFor(model => model.SpelCreateViewModel.Spel.Exemplaar)
                        @Html.HiddenFor(model => model.SpelCreateViewModel.Spel.Exemplaar)
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Exemplaar, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Uitgever)</td>
                    <td>
                        @Html.EditorFor(model => model.SpelCreateViewModel.Spel.Uitgever, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Uitgever, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Leeftijd)</td>
                    <td>
                        @Html.EditorFor(model => model.SpelCreateViewModel.Spel.Leeftijd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Leeftijd, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Titel)</td>
                    <td>
                        @Html.EditorFor(model => model.SpelCreateViewModel.Spel.Titel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Titel, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Omschrijving)</td>
                    <td class="textArea">
                        @Html.TextAreaFor(model => model.SpelCreateViewModel.Spel.Omschrijving, new { rows = "10", columns = "300" })
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Omschrijving, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Thema)</td>
                    <td>
                        @Html.DropDownListFor(model => model.SpelCreateViewModel.Spel.Thema, Model.SpelCreateViewModel.Themas, " --Selecteer een Thema--")
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Thema)
                    </td>


                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Uitgeleend)</td>
                    <td class="td2">
                        @if (@Model.SpelCreateViewModel.Spel.Uitgeleend)
                        {
                            @Model.SpelCreateViewModel.Spel.EindDatumUitlening.ToLongDateString()
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="icon" />
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.SpelCreateViewModel.Spel.Beschikbaar)</td>
                    <td>
                        @Html.EditorFor(model => model.SpelCreateViewModel.Spel.Beschikbaar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpelCreateViewModel.Spel.Beschikbaar, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            <p>
                <a href='@Url.Action("index")' class="floatRight"><img src="~/Images/Return.png" /></a>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </p>
        </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>