@model DeKrekelGroup5.ViewModel.MainViewModel

@{
    ViewBag.Title = "Delete";
}

<div id="content">
    <h4 id="subtitel">Ben je zeker dat je deze cd wil verwijderen? <a href=' @Url.Action("index") '><img src="~/Images/Return.png" class="floatRight" /></a></h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            @Html.Partial("upload", Model)
        </div>

        <div id="mainCol">
            <table id="details">
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Exemplaar)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Exemplaar)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Titel)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Titel)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Artiest)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Artiest)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Uitgever)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Uitgever)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Leeftijd)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Leeftijd)</td>
                </tr>
                <tr>
                    <td class="td1">Themas</td>
                    <td class="td2 gray">
                        @{ int counter = 0; }
                        @foreach (var thema in Model.CDViewModel.Themas)
                        {
                            counter++;
                            <span>@thema.Themaa</span> @(counter < Model.CDViewModel.Themas.Count ? "|" : "")
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Omschrijving)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.CDViewModel.Omschrijving)</td>
                </tr>

                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Uitgeleend)</td>
                    <td>
                        @if (@Model.CDViewModel.Uitgeleend)
                        {
                            @Model.CDViewModel.EindDatumUitlening.ToLongDateString()
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="bigIcon" />
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.CDViewModel.Beschikbaar)</td>
                    <td>
                        @if (@Model.CDViewModel.Beschikbaar)
                        {
                            <img src="~/Images/tick.png" class="bigIcon" />
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="bigIcon" />
                        }
                    </td>
                </tr>
            </table>





            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p class="floatRight">

                    <button type="submit" value="Delete" class="button green close"><img src="~/Images/tick.png">Verwijder!</button>

                </p>
            }

        </div>
    </div>



</div>
