@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel
@Styles.Render("~/Content/uploadfile.css")
@Styles.Render("~/Content/multi-select.css")
<div id="content">
    <h4 id="subtitel">
        Aanpassen CD
        <div class="floatRight">
            <a href=' @Url.Action("index") '><img src="~/Images/Return.png" /></a>
        </div>
    </h4>
    <hr/>
    <div id="wrapDetails">
        <div id="leftCol">
           @Html.Partial("upload", Model)
        </div>
        @if (Model.CDCreateViewModel != null)
        {
       using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CDCreateViewModel.CD.image)
            <div id="mainCol">
                <table id="details">
                    <tr>
                        <td class="td1">Exemplaar</td>
                        <td class="td2 gray">
                            <strong>@Html.DisplayFor(model => model.CDCreateViewModel.CD.Exemplaar)</strong>
                            @Html.HiddenFor(model => model.CDCreateViewModel.CD.Exemplaar)
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Titel</td>
                        <td>
                            @Html.EditorFor(model => model.CDCreateViewModel.CD.Titel, new { htmlAttributes = new { @class = "form-control", id = "titelInput" } })
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Titel, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Artiest</td>
                        <td>
                            @Html.EditorFor(model => model.CDCreateViewModel.CD.Artiest, new { htmlAttributes = new { @class = "form-control", id = "artiestInput" } })
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Artiest, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Uitgever</td>
                        <td>
                            @Html.EditorFor(model => model.CDCreateViewModel.CD.Uitgever, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Uitgever, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Leeftijd</td>
                        <td>
                            @Html.EditorFor(model => model.CDCreateViewModel.CD.Leeftijd, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Leeftijd, "", new { @class = "text-danger" })
                        </td>
                    </tr>


                    <tr>
                        <td class="td1">Themas</td>
                        <td>
                            @Html.ListBoxFor(model => model.CDCreateViewModel.SubmittedThemas, Model.CDCreateViewModel.AllThemas, new { multiple = "multiple", @class = "multiselect" })
                        </td>
                    </tr>

                    <tr>
                        <td class="td1">Omschrijving</td>
                        <td class="textArea">
                            @Html.TextAreaFor(model => model.CDCreateViewModel.CD.Omschrijving, new { rows = "10", columns = "300" })
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Omschrijving, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Uitgeleend</td>
                        
                            @if (@Model.CDCreateViewModel.CD.Uitgeleend)
                            {
                                <td class="td2 gray">
                                    @Model.CDCreateViewModel.CD.EindDatumUitlening.ToLongDateString()
                                </td>
                            }
                            else
                            {
<td>
                                    <img src="~/Images/cross.png" class="icon" />
                                </td>
                            }
                                
                    </tr>
                    <tr>
                        <td class="td1">Beschikbaar</td>
                        <td>
                            @Html.EditorFor(model => model.CDCreateViewModel.CD.Beschikbaar, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.CDCreateViewModel.CD.Beschikbaar, "", new {@class = "text-danger"})
                        </td>
                    </tr>
                </table>
                <p >
                    <div class="form-group">
                        <div class="button green" style="position: relative; overflow: hidden; cursor: default;">
                            <img src="~/Images/tick.png"/>Ok!
                            <input type="submit" value="Save" class="btn btn-default" style="position: absolute; cursor: pointer; top: 0px; width: 100%; height: 100%; left: 0px; z-index: 100; opacity: 0;"/>
                        </div>
                    </div>
                </p>
                
            </div>
        }
        }
    </div>
</div>
 @section JavaScript
 {
      

     <script src="/Scripts/upload.js" type="text/javascript"></script>
     <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
     <script src="/Scripts/validation_addition.js" type="text/javascript"></script>
     <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
     <script src="/Scripts/jQuery.MultiFile.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.multi-select.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.multiselect').multiSelect(); 
        });
    </script>




     
 }