@model DeKrekelGroup5.ViewModel.MainViewModel

<div id="content">
    <h4 id="subtitel">
        Details Verteltas
        <div class="floatRight">
            <a href=' @Url.Action("edit", new { id = Model.VertelTasViewModel.Exemplaar }) '><img src="~/Images/edit.png" /></a>

            <a href=' @Url.Action("index") '><img src="~/Images/Return.png" /></a>
        </div>
    </h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            @Html.Partial("upload", Model)
        </div>

        <div id="mainCol">
            <table id="details">
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Exemplaar)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.VertelTasViewModel.Exemplaar)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Titel)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.VertelTasViewModel.Titel)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Leeftijd)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.VertelTasViewModel.Leeftijd)</td>
                </tr>
                <tr>
                    <td class="td1">Themas</td>
                    <td class="td2 gray">
                        @{ int counter = 0; }
                        @foreach (var thema in Model.VertelTasViewModel.Themas)
                        {
                            counter++;
                            <span>@thema.Themaa</span> @(counter < Model.VertelTasViewModel.Themas.Count ? "|" : "")
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">Boeken</td>
                    <td class="td2 gray">
                        @{ int counter1 = 0;}
                        @foreach (var item in Model.VertelTasViewModel.Boeken)
                        {
                            counter1++;
                            <span>@item.Titel</span>
                            @(counter1 < Model.VertelTasViewModel.Boeken.Count ? "|" : "")
                        }
                    </td>
                </tr>

                <tr>
                    <td class="td1">Films</td>
                    <td class="td2 gray">
                        @{ int counter2 = 0;}
                        @foreach (var item in Model.VertelTasViewModel.DVDs)
                        {
                            counter2++;
                            <span>@item.Titel</span>
                            @(counter2 < Model.VertelTasViewModel.DVDs.Count ? "|" : "")
                        }
                    </td>
                </tr>

                <tr>
                    <td class="td1">Spellen</td>
                    <td class="td2 gray">
                        @{ int counter3 = 0;}
                        @foreach (var item in Model.VertelTasViewModel.Spellen)
                        {
                            counter3++;
                            <span>@item.Titel</span> @(counter3 < Model.VertelTasViewModel.Spellen.Count ? "|" : "")
                        }
                    </td>
                </tr>

                <tr>
                    <td class="td1">Muziek</td>
                    <td class="td2 gray">
                        @{ int counter4 = 0;}
                        @foreach (var item in Model.VertelTasViewModel.CDs)
                        {
                            counter4++;
                            <span>@item.Titel</span> @(counter4 < Model.VertelTasViewModel.CDs.Count ? "|" : "")
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Omschrijving)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.VertelTasViewModel.Omschrijving)</td>
                </tr>

                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Uitgeleend)</td>
                    <td>
                        @if (@Model.VertelTasViewModel.Uitgeleend)
                        {
                            @Model.VertelTasViewModel.EindDatumUitlening.ToLongDateString()
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="bigIcon" />
                        }
                    </td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.VertelTasViewModel.Beschikbaar)</td>
                    <td>
                        @if (@Model.VertelTasViewModel.Beschikbaar)
                        {
                            <img src="~/Images/tick.png" class="bigIcon" />
                        }
                        else
                        {
                            <img src="~/Images/cross.png" class="bigIcon" />
                        }
                    </td>
                </tr>
            </table>


        </div>

    </div>

</div>
