@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VertelTasLijstViewModel.VertelTassen.FirstOrDefault().Exemplaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VertelTasLijstViewModel.VertelTassen.FirstOrDefault().Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VertelTasLijstViewModel.VertelTassen.FirstOrDefault().Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VertelTasLijstViewModel.VertelTassen.FirstOrDefault().Leeftijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VertelTasLijstViewModel.VertelTassen.FirstOrDefault().Thema)
        </th>
        <th>
            Beschikbaar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.VertelTasLijstViewModel.VertelTassen)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exemplaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leeftijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thema)
            </td>
            <td>
                @if (item.Beschikbaar)
                {
                    if (item.Uitgeleend)
                    {
                        @item.GetStringDate()
                        if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                        {
                            @Ajax.ImageActionLink("/Images/extraTijd.png", "Verlengen", "Verlengen", "Uitleningen", new { exemplaar = item.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal" }, new { @class = "icon" })
                        }
                    }
                    else
                    {
                        <img src="~/Images/tick.png" class="icon" />
                    }
                }
                else
                {
                    <img src="~/Images/cross.png" class="icon" />
                }
            </td>
            <td>
                @if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                {
                    if (item.Uitgeleend)
                    {
                        @Ajax.ImageActionLink("/Images/binnen.png", "EindeUitlening", "EindeUitlening", "Uitleningen", new { exemplaar = item.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal" }, new { @class = "icon" })

                    }
                    else
                    {
                        if (item.Beschikbaar)
                        {
                            <a href=' @Url.Action("Create", "Uitleningen", new { id = item.Exemplaar }) '><img src="~/Images/buiten.png" class="icon" /></a>
                        }
                    }
                }
                <a href=' @Url.Action("details", new { id = item.Exemplaar }) '><img src="~/Images/details.png" class="icon" /></a>
                @if (Model.GebruikerViewModel.IsBeheerder)
                {
                    <a href=' @Url.Action("edit", new { id = item.Exemplaar }) '><img src="~/Images/edit.png" class="icon" /></a>
                    <a href=' @Url.Action("delete", new { id = item.Exemplaar }) '><img src="~/Images/delete.png" class="icon" /></a>
                }
            </td>
        </tr>
    }

</table>
