@using DeKrekelGroup5.Models.Domain
@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel

@foreach (var verteltas in Model.VertelTasLijstViewModel.VertelTassen)
{
    <table class="table">
        <tr>
            <th>
                V @Html.DisplayFor(modelItem => verteltas.Exemplaar)
            </th>
            <th>
                @Html.DisplayFor(modelItem => verteltas.Titel)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td id="left">
                @if (string.IsNullOrEmpty(verteltas.image))
                {
                    <img src="~/Images/krekelFoto.png" alt="krekelSchool" id="picItem" />
                }
                else
                {

                    <img src='@Url.Content("~/FTP/Images/"+verteltas.image)' alt="item.image" />
                }
            </td>
            <td id="middle">
                <div class="middleDiv">
                    <div class="beschikbaar">
                        @if (verteltas.Beschikbaar)
                        {
                            if (verteltas.Uitgeleend)
                            {
                                <span>Beschikbaar vanaf: </span>@verteltas.GetStringDate()
                                if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                                {
                                    @Ajax.ImageActionLink("/Images/extraTijd.png", "Verlengen", "Verlengen", "Uitleningen", new { exemplaar = verteltas.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "infomodal" }, new { @class = "icon" })
                                }
                            }
                            else
                            {
                                <span>Beschikbaar: </span> <img src="~/Images/tick.png" class="icon" />
                            }
                        }
                        else
                        {
                            <span>Beschikbaar: </span>
                            <img src="~/Images/cross.png" class="icon" />
                        }
                    </div>

                    <p><strong>Leeftijd: </strong> @Html.DisplayFor(modelItem => verteltas.Leeftijd) jaar</p>

                    <p><strong>Omschrijving: </strong> <span style="font-size: medium">@Html.DisplayFor(modelItem => verteltas.Omschrijving)</span></p>
                    
                    <table style="margin-top: 0px;">
                        <tr>
                            <td style="width: 70px;"><strong>Boeken: </strong></td>
                            <td>
                                <ul style="list-style-type: none; font-style: italic">
                                    @foreach (var boek in verteltas.Boeken)
                                    {
                                        <li>@boek.Titel</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70px;"><strong>Films: </strong></td>
                            <td>
                                <ul style="list-style-type: none; font-style: italic">
                                    @foreach (var boek in verteltas.DVDs)
                                    {
                                        <li>@boek.Titel</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70px;"><strong>Muziek: </strong></td>
                            <td>
                                <ul style="list-style-type: none; font-style: italic">
                                    @foreach (var cd in verteltas.CDs)
                                    {
                                        <li>@cd.Titel</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70px;"><strong>Spellen: </strong></td>
                            <td>
                                <ul style="list-style-type: none; font-style: italic">
                                    @foreach (var spel in verteltas.Spellen)
                                    {
                                        <li>@spel.Titel</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
 





                    <br/><br/>
                    <p id="themap">
                        @{ int counter = 0; }
                        @foreach (var thema in verteltas.Themas)
                        {
                            counter++;
                            <span style="font-style: italic; margin-top: 15px;">@thema.Themaa</span> @(counter < verteltas.Themas.Count ? "|" : "")
                        }
                    </p>



                </div>
            </td>
            <td id="right">
                <div class="wrapper-image">

                    <a href=' @Url.Action("details", new { id = verteltas.Exemplaar }) '><img src="~/Images/details.png" class="iconRight" /></a>
                    @if (Model.GebruikerViewModel.IsBeheerder)
                    {
                        <a href=' @Url.Action("edit", new { id = verteltas.Exemplaar }) '><img src="~/Images/edit.png" class="iconRight" /></a>
                        <a href=' @Url.Action("delete", new { id = verteltas.Exemplaar }) '><img src="~/Images/delete.png" class="iconRight" /></a>
                    }


                    @if (Model.GebruikerViewModel.IsBibliothecaris || Model.GebruikerViewModel.IsBeheerder)
                    {
                        if (verteltas.Uitgeleend)
                        {
                            @Ajax.ImageActionLink("/Images/binnen.png", "EindeUitlening", "EindeUitlening", "Uitleningen", new { exemplaar = verteltas.Exemplaar }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "infomodal" }, new { @class = "doorImg" })

                        }
                        else
                        {
                            if (verteltas.Beschikbaar)
                            {
                                <a href=' @Url.Action("Create", "Uitleningen", new { id = verteltas.Exemplaar }) ' class="doorImg"><img src="~/Images/buiten.png" /></a>
                            }
                        }
                    }
                </div>
            </td>
        </tr>
    </table>
}


