@model DeKrekelGroup5.ViewModel.MainViewModel
<div id="content">
    <h4 id="subtitel">Ben je zeker dat je deze student wil verwijderen? <a href=' @Url.Action("index") '><img src="~/Images/Return.png" class="floatRight" /></a></h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
        </div>
        <div id="mainCol">
            <table id="details">
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Id)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Id)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Naam)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Naam)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.VoorNaam)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.VoorNaam)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Klas)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Klas)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Adres)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Adres)</td>
                </tr>
                <tr>
                    <td class="td1">@Html.DisplayNameFor(model => model.UitlenerViewModel.Email)</td>
                    <td class="td2 gray">@Html.DisplayFor(model => model.UitlenerViewModel.Email)</td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p class="floatRight">
                    <button type="submit" value="Delete" class="button green close"><img src="~/Images/tick.png">Verwijder!</button>
                </p>
            }
        </div>
    </div>
</div>

