@model DeKrekelGroup5.Models.Domain.Uitlener

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Uitlener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoorNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoorNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
