
@using System.Collections.Specialized
@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel 

<br/>
<table class="table" style="max-width: 95%">
    <tr >
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().VoorNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Klas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UitlenersLijstViewModel.Uitleners.FirstOrDefault().Email)
        </th>
    </tr>
    @foreach (var uitlener in Model.UitlenersLijstViewModel.Uitleners)
    {
        <tr data-nr="@Html.DisplayFor(modelItem => uitlener.Id)">
            <td>
                @Html.DisplayFor(modelItem => uitlener.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.VoorNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.Klas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uitlener.Email)
            </td>
        </tr>
    }
</table>