@model DeKrekelGroup5.ViewModel.UitlenersLijstViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uitleners.FirstOrDefault().Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleners.FirstOrDefault().VoorNaam))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleners.FirstOrDefault().Klas))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleners.FirstOrDefault().Adres))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleners.FirstOrDefault().Email))
        </th>
        <th></th>
    </tr>

@foreach (var uitlener in Model.Uitleners) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => uitlener.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => uitlener.VoorNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => uitlener.Klas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => uitlener.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => uitlener.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=uitlener.Id }) |
            @Html.ActionLink("Details", "Details", new { id=uitlener.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=uitlener.Id })
        </td>
    </tr>
}

</table>
