@using DeKrekelGroup5.ViewModel
@model DeKrekelGroup5.ViewModel.MainViewModel

<div id="content">
    <h4 id="subtitel">DVD aanmaken</h4>
    <hr />
    <div id="wrapDetails">
        <div id="leftCol">
            <img src="~/Images/krekel.png" alt="krekelSchool">
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div id="mainCol">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table id="details">
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Uitgever)</td>
                        <td>
                            @Html.EditorFor(model => model.DVDCreateViewModel.DVD.Uitgever, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Uitgever, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Leeftijd)</td>
                        <td>
                            @Html.EditorFor(model => model.DVDCreateViewModel.DVD.Leeftijd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Leeftijd, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Titel)</td>
                        <td>
                            @Html.EditorFor(model => model.DVDCreateViewModel.DVD.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Titel, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Omschrijving)</td>
                        <td class="textArea">
                            @Html.TextAreaFor(model => model.DVDCreateViewModel.DVD.Omschrijving, new { rows = "10", columns = "300" })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Omschrijving, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.LabelFor(model => model.DVDCreateViewModel.DVD.Thema, htmlAttributes: new { @class = "editLabel" })</td>
                        <td>
                            @Html.DropDownListFor(model => model.DVDCreateViewModel.DVD.Thema, Model.DVDCreateViewModel.Themas, " --Selecteer een Thema--")
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Thema)
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Uitgeleend)</td>
                        <td>
                            @Html.EditorFor(model => model.DVDCreateViewModel.DVD.Uitgeleend, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Uitgeleend, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">@Html.DisplayNameFor(model => model.DVDCreateViewModel.DVD.Beschikbaar)</td>
                        <td>
                            @Html.EditorFor(model => model.DVDCreateViewModel.DVD.Beschikbaar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVDCreateViewModel.DVD.Beschikbaar, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
                <p>
                    <a href='@Url.Action("index")' class="floatRight"><img src="~/Images/Return.png" /></a>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </p>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
