@model DeKrekelGroup5.ViewModel.DVDLijstViewModel

<h3>@ViewBag.Selection</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Exemplaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Uitgever)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Leeftijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVDs.FirstOrDefault().Thema)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DVDs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exemplaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uitgever)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leeftijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thema)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Exemplaar }) |
                @Html.ActionLink("Details", "Details", new { id = item.Exemplaar }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Exemplaar })
            </td>
        </tr>
    }

</table>