@model DeKrekelGroup5.ViewModel.MainViewModel
<div id="wrapper">
    <div id="content">
        <div id="titel">
            <h2>De Lettertuin</h2>
        </div>
        <div id="categories">
            <table class="indexTable">
                <tr>
                    <td>
                        <a href='@Url.Action("index", "boeken")'><img src="~/Images/Book.png" /></a>
                    </td>
                    <td>
                        <a href='@Url.Action("index", "cds")'><img src="~/Images/cd.png" /></a>
                    </td>
                    <td>
                        <a href='@Url.Action("index", "dvds")'><img src="~/Images/dvd.png" /></a>
                    </td>
                    <td>
                        <a href='@Url.Action("index", "spellen")'><img src="~/Images/spel.png" /></a>
                    </td>
                    <td>
                        <a href='@Url.Action("index", "vertelTassen")'><img src="~/Images/vertelTas.png" /></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>